.experiencias{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
    margin-top: 4rem;
}

.experiencia__cartas{
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 4rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.experiencia__imagen{
    float: left;
    width: 70%;
    padding: 2rem;
}

.experiencias__titulo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.experiencia__titulo{
    margin-top: 13rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.experiencia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 75%;
}

.experiencia__contenido{
    padding: 1rem;
}

.experiencia__descripcion{
    margin-left: 59rem;
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.experiencia__boton{
    color: #2A7AE4;
    margin-left: 2rem;
    border: solid 1px #2A7AE4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.75rem;
}

.experiencia__boton:hover{
    cursor: pointer;
}

.Demo{
    color: white;
    background-color: #2A7AE4;
}

#ahorcado{
    margin-left: 57rem;
}

@media screen and (min-width: 768px) and (max-width: 988px){
    .experiencias{
        padding-bottom: 3rem;
        width: 78%;
        margin-top: 2rem;
    }
    
    .experiencia__cartas{
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .experiencia__imagen{
        margin-left: -1.8rem;
        width: 100%;
        float: none;
    }
    
    .experiencia__titulo{
        font-size: 10px;
        margin-top: 1rem;
        text-align: left;
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 2rem;
        float: none;
    }
    
    .experiencia{
        justify-content: left;
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        width: 100%;
    }
    
    .experiencia__contenido{
        text-align: left;
        padding: 1rem;
        float: none;
    }
    
    .experiencia__descripcion{
        display: none;
        float: none;
        justify-content: left;
        font-size: 1.1875rem;
        line-height: 1.5;
        text-align: left;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .experiencia__boton{
        float: none;
        justify-content: left;
        text-align: left;
        color: #2A7AE4;
        margin-left: 2rem;
        border: solid 1px #2A7AE4;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0.75rem;
    }

    .Demo{
        color: white;
        background-color: #2A7AE4;
    }
}

@media screen and (max-width: 480px){
    .experiencias{
        justify-content: space-between;
        padding-bottom: 3rem;
        width: 100%;
        margin-top: 2rem;
    }
    
    .experiencia__cartas{
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .experiencia__imagen{
        margin-left: -1.8rem;
        width: 100%;
        float: none;
    }
    
    .experiencia__titulo{
        font-size: 10px;
        margin-top: 1rem;
        text-align: left;
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 2rem;
        float: none;
    }
    
    .experiencia{
        justify-content: left;
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        width: 100%;
    }
    
    .experiencia__contenido{
        text-align: left;
        padding: 1rem;
        float: none;
    }
    
    .experiencia__descripcion{
        display: none;
        float: none;
        justify-content: left;
        font-size: 1.1875rem;
        line-height: 1.5;
        text-align: left;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .experiencia__boton{
        float: none;
        justify-content: left;
        text-align: left;
        color: #2A7AE4;
        margin-left: 2rem;
        border: solid 1px #2A7AE4;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0.75rem;
    }

    .Demo{
        color: white;
        background-color: #2A7AE4;
    }
}